
-- 1. 确保所有用户在 ce_student 中都有档案
INSERT IGNORE INTO ce_student (user_id, student_no, student_name, created_user, create_time)
SELECT u.user_id, CONCAT('S', u.user_id), u.nick_name, 'system', NOW()
FROM sys_user u
WHERE u.user_id NOT IN (SELECT user_id FROM ce_student WHERE user_id IS NOT NULL);

-- 2. 补全那些有档案但没学号的数据
UPDATE ce_student 
SET student_no = CONCAT('S', user_id) 
WHERE (student_no IS NULL OR student_no = '') AND user_id IS NOT NULL;

-- 3. 验证并强制修复 ID 为 55 的用户 (即您当前的账号)
UPDATE ce_student SET student_no = 'S55' WHERE user_id = 55;

