
-- 为学生用户(100)分配志愿管理所有子接口权限
INSERT IGNORE INTO sys_menu (menu_id, menu_name, parent_id, order_num, path, component, is_frame, is_cache, menu_type, visible, status, perms, icon, create_by, create_time, update_by, update_time, remark)
VALUES (2080, '多志愿单查询', 2061, 5, 'listSheets', NULL, 1, 0, 'F', '0', '0', 'entrance:aspiration:listSheets', '#', 'admin', NOW(), '', NULL, '');

INSERT IGNORE INTO sys_role_menu (role_id, menu_id) VALUES (100, 2080);
INSERT IGNORE INTO sys_role_menu (role_id, menu_id) VALUES (2, 2080);

-- 同时放行可能被拦截的 apply 路由对应权限
UPDATE sys_menu SET perms = 'entrance:aspiration:list' WHERE menu_id = 2063;
UPDATE sys_menu SET perms = 'entrance:aspiration:add' WHERE menu_id = 2064;

