
-- 1. 论坛菜单展示修复
UPDATE sys_menu SET visible = '0', status = '0' WHERE menu_id = 2057;
INSERT IGNORE INTO sys_role_menu (role_id, menu_id) VALUES (100, 2057);
INSERT IGNORE INTO sys_role_menu (role_id, menu_id) VALUES (2, 2057);

-- 2. 权限回收：确保学生(100)和普通角色(2)只有查看权限，没有修改/删除权限
-- 删除专业查询的相关按钮权限关联
DELETE FROM sys_role_menu WHERE role_id IN (100, 2) AND menu_id IN (
    SELECT menu_id FROM sys_menu WHERE perms IN ('entrance:profession:add', 'entrance:profession:edit', 'entrance:profession:remove')
);

