
-- 1. 权限修复：为学生角色(100)分配所有业务菜单
INSERT IGNORE INTO sys_role_menu (role_id, menu_id) 
SELECT 100, menu_id FROM sys_menu WHERE menu_id IN (2054, 2055, 2056, 2061, 2063, 2064, 2066, 2067);

-- 2. 权限修复：为普通角色(2)分配所有业务菜单
INSERT IGNORE INTO sys_role_menu (role_id, menu_id) 
SELECT 2, menu_id FROM sys_menu WHERE menu_id IN (2054, 2055, 2056, 2061, 2063, 2064, 2066, 2067);

-- 3. 数据修复：补全缺失的学号
UPDATE ce_student SET student_no = CONCAT('S', user_id) WHERE (student_no IS NULL OR student_no = '') AND user_id IS NOT NULL;

-- 4. 确保所有学生角色用户在 ce_student 中有记录
INSERT IGNORE INTO ce_student (user_id, student_no, student_name, created_user)
SELECT u.user_id, CONCAT('S', u.user_id), u.nick_name, 'system'
FROM sys_user u
JOIN sys_user_role ur ON u.user_id = ur.user_id
WHERE ur.role_id IN (100, 2)
AND u.user_id NOT IN (SELECT user_id FROM ce_student WHERE user_id IS NOT NULL);

